<h1>Topics</h1>

<div class="row">
  <div class="col-md-8">
    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to topic.name, topic %>
          </h4>
          <small>
            <%= topic.description %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
        <p style="color:red">does not link to New Sponsered post, links to New Topic this is incorrect</p>
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
<%= link_to "New Sponsered Post", new_topic_path([@sponsered_post]), class: 'btn btn-success' %>
  </div>
</div>
